/* @import url('https://fonts.googleapis.com/css?family=Average+Sans|Faster+One&display=swap'); */

img{
	width:100%;
	height:100%;
	object-fit: cover;
}
.hero-bg{
width:60%;
height:90vh;
}
.hero{
	display:flex;
	position:relative;
	
}
.empty{
	width:40%;
	font-family: 'Average Sans', sans-serif;
	
}
.empty h1{
	font-size:80px;
	position: absolute;
	left:10%;
	top:-40px;
}
#h1-2{
	top:50px;
	left:30%;
}
.grid-con{
	position:absolute;
	left:26%;
	top:36%;
	display:grid;
	grid-template-areas: "img1 ."
											"img1 img2"
											"img3 img2"
											"img3 img4"
											". img4";
	grid-gap: 10px;
	
}
.grid-con img{
	height:120px;
	width:120px;
}
.img1{
	grid-area: img1;
}
.img2{
	grid-area: img2;
}
.img3{
	grid-area: img3;
}
.img4{
	grid-area: img4;
}
@media only screen and  (max-width:768px){
	.grid-con{
		display:none;
	}
	.empty{
		display: none;
	}
	.hero-bg{
			width:100%;
			
	}
	img{
		width:100%;
	}
	.hero{
		flex-direction: column-reverse;
				
	}
}
@media only screen and (min-width:769px) and (max-width:1200px){
	.empty h1{
		font-size:70px;
		left:13%;
	}
	#h1-2{
		left:33%;
	}
	.grid-con img{
		height:100px;
		width:100px;
	}
	.grid-con{
		left:23%;
	}
}